header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: rgb(0, 255, 213);
    text-decoration: underline;
}

.main-nav{
    position: absolute;
    top: 110px;
    right: 0;
}

.caja{
    /* medida comun 1280 */
    width: 940px; /* 70% aproz de 1280 */
    position: relative;
    /* border: saddlebrown solid; */
    margin: 0 auto;
}

main{
    /* medida estandar */
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin:  0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

footer{
    text-align: center;
    background-image: url(./../imagenes2/bg.jpg);
    padding: 40px;
}

footer p{
    font-size: 13px;
    color: white;
    margin: 20px;
}

.checkbox_label{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .7s all;
}

.enviar:hover{
    color: gold;
    background-color: white;
    border: solid 1px gold;
    transform: scale(1.20) rotate(3deg);
}

table{
    margin: 40px 40px;
    border-collapse: collapse;
}

thead{
    background-color: rebeccapurple;
    color: white;
}

td, th{
    border: 1px solid green;
    padding: 8px 15px;
    
}
/* breakpoint para mobile */

@media screen and (min-width: 320px) and (max-width: 480px) {
    body{
        min-width: 320px;
        max-width: 480px
    }

    
    .caja, .principal, .formulario, .formulario-campo, .tabla{
        width: auto;
    }

    
    h1{
        text-align: center;
    }

    .main-nav{
        position: static;
    }

    nav a{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 16px;
    }

    .navegacion{
        display: flex;
        justify-content: space-evenly;
    }

    .input-padron{
        width: auto;
    }

    main{
        max-width: 320px;
        min-width: 320px;
    }

    .textarea{
        margin: 0 auto;
        width: 280px;
        height: 100px;
    }

    .formulario-campo{
        margin-top: 30px;
    }

    .formulario-campo legend{
        margin-bottom: 20px;
    }

    .enviar{
        width: 100%;
        margin-top: 20px;
    }
}