header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: rgb(0, 255, 213);
    text-decoration: underline;
}

.main-nav{
    position: absolute;
    top: 110px;
    right: 0;
}

.caja{
    /* medida comun 1280 */
    width: 940px; /* 70% aproz de 1280 */
    position: relative;
    /* border: saddlebrown solid; */
    margin: 0 auto;
}

main{
    /* medida estandar */
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin:  0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

footer{
    text-align: center;
    background-image: url(./../imagenes2/bg.jpg);
    padding: 40px;
}

footer p{
    font-size: 13px;
    color: white;
    margin: 20px;
}

.checkbox_label{
    margin: 20px 0;
}
