header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: rgb(0, 255, 213);
    text-decoration: underline;
}

.main-nav{
    position: absolute;
    top: 110px;
    right: 0;
}

.caja{
    /* medida comun 1280 */
    width: 940px; /* 70% aproz de 1280 */
    position: relative;
    /* border: saddlebrown solid; */
    margin: 0 auto;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
}

.productos--img{
    width: calc(90% - (26px));
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 90%; /* ocupa 1/3 del espacio */
    vertical-align: top;
    /* background-color: antiquewhite; */
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid black 2px;
    border-top-width: 30px;
    border-top-style: groove;
    border-radius: 9px;
}

.productos li:hover{
    border-color: rgb(0, 255, 213);
    font-size: 33px;
}


.productos li:active{
    border-color: rgb(255, 94, 0);
}


.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 36px;
}

.producto-description{
    font-size: 18px;
}

.producto-precio{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background-image: url(./../imagenes2/bg.jpg);
    padding: 40px;
}

footer p{
    font-size: 13px;
    color: white;
    margin: 20px;
}

/* brekapoint para mobile */

@media screen and (min-width: 320px) and (max-width: 480px) {
    body{
        min-width: 320px;
        max-width: 480px
    }

    
    .caja, .principal, .mapa, .contenido-diferenciales, .video-section{
        width: auto;
    }

    
    h1{
        text-align: center;
    }

    .main-nav{
        position: static;
    }

    nav a{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 16px;
    }

    .navegacion{
        display: flex;
        justify-content: space-evenly;
    }

    main{
        width: 100%;
        min-width: 320px;
    }

    .productos{
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        max-width: 320px;
        padding: 20px;
    }

    .prodcutos-container--card{
        scroll-snap-align: center;
        margin-left: 8px;
        margin-right: 8px;
        position: relative;
        width: 100%;
        height: auto;
    }

    .productos li{
        /* text-align: center; */
        width: 300px;
        margin: 0 auto;
        /* padding: 30px 2px; */
        box-sizing: border-box;
        border: solid black 2px;
        border-top-width: 30px;
        border-top-style: groove;
        border-radius: 9px;
    }

    .productos--img{
        width: calc(90% - (26px));
    }
}