header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.main-nav{
    position: absolute;
    top: 110px;
    right: 0;
}

.caja{
    /* medida comun 1280 */
    width: 940px; /* 70% aproz de 1280 */
    position: relative;
    /* border: saddlebrown solid; */
    margin: 0 auto;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 33%; /* ocupa 1/3 del espacio */
    vertical-align: top;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

