body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: rgb(0, 255, 213);
    text-decoration: underline;
}

.main-nav{
    position: absolute;
    top: 110px;
    right: 0;
}

.caja{
    /* medida comun 1280 */
    width: 940px; /* 70% aprox de 1280 */
    position: relative;
    /* border: saddlebrown solid; */
    margin: 0 auto;
}


footer{
    text-align: center;
    background-image: url(./../imagenes2/bg.jpg);
    padding: 40px;
}

footer p{
    font-size: 13px;
    color: white;
    margin: 20px;
}

/* banner */
.banner{
    width: 100%;
}

.main-title{
    text-align: center;
    font-size: 2em; /* multiplica el tamaño de fuente por defecto dos veces */
    margin: .5px 0 1em;
    clear: left;
}

.main-title::first-letter{
    font-weight: bold;

}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utencilios{
    /* width: 120px; */
    width: calc(40% - (26px));
    float: left;
    margin: 0 20px 20px 0;
}


.mapa{
    padding: 3em 0;
    background: linear-gradient(0deg, rgba(136,136,136,0.591456651019783) 29%, rgba(245,245,245,1) 85%);
}


.mapa p{
    margin: 0 0 2em 0;
    text-align: center;
}

.diferenciales{
    /* background-color: whitesmoke; */
    /* background: linear-gradient(#888888 -400%, whitesmoke); */
    background: linear-gradient(180deg, rgba(136,136,136,0.591456651019783) 11%, rgba(245,245,245,1) 77%);
    padding-top: 2em;
    padding-bottom: 2em;
}

.imagen-diferenciales{
    width: 60%;
    box-shadow: 10px 10px 50px #000000;
}
.imagen-diferenciales:hover{
    opacity: 0.7;
    transition: 400ms;
}


.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.7;
}

.items:hover{
    color: rgb(38, 53, 163);
}

.items::before{
    content: "💎";
}

.items:first-child{
    font-weight: bold;
}

.principal{
    background-color: whitesmoke;
    padding: 3em;
    /* width: 940px;
    margin: 0 auto; */
}

.video-section{
    padding: 30px;
    background-color: whitesmoke;
}

.video{
    /* background-color: red; */
    margin: 0 auto;
    /* width: 560px; */
    /* height: auto; */
    text-align: center;    
}

p:first-line{
    font-style: italic;
}


.main-title::before{
    content: "[";
}
.main-title::after{
    content: "]";
}

/* .principal p:not(#mision) {
    background-color: rgb(0, 191, 255);
} */


/* breakpoint - mediaQuery*/
@media screen and (min-width: 320px) and (max-width: 480px){
    body{
        min-width: 320px;
        max-width: 480px
        background-color: aqua;
    }

    .caja, .principal, .mapa, .contenido-diferenciales, .video-section{
        width: auto;
    }

    .imagen-diferenciales{
        vertical-align: middle;
    }

    h1{
        text-align: center;
    }

    .main-nav{
        position: static;
    }

    nav a{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 16px;
    }

    .navegacion{
        display: flex;
        justify-content: space-evenly;
    }

    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }

    .imagen-diferenciales{
        margin-top: 20px;
    }
}